body {
    background-color: #aef3ae !important;
}

.container {
    height: 100vh;
}

form {
    background-color: #f0eded;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #336699;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3dce49;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #141414;
}
