form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }
  
  form.nosubmit {
   border: none;
   padding: 0;
  }
  
  input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  ul {
            
    list-style-type: none;
}
ul li a{
    color: rgb(244, 238, 238);
    text-decoration: none;
    
}
li a i {
font-size: 1.2em; /* veya başka bir değer */
}
li  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    
}
li:hover {
    background-color: rgb(43, 43, 43);
    color: rgb(17, 17, 17);
    border-radius: 7px;
}
li a:hover{
    color: rgb(253, 247, 247);
}
.liside {
    width: 180px;
    height: 40px;
    border: white;
}
.upscroll{
    border-radius: 5px;
}
.liborder {
    border-radius: 7px;
    font-size: 16px;
    background-color: rgb(47, 47, 47);
    padding: 5px;
    margin-left: 10px;
}
.liascroll {
    
  
    font-size: 18px;
}
.imgcard {
  width: 35px;
  height: 35px;
}
#sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 20px); /* Sayfa yüksekliği - 20px */
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.2); /* Kaydırma çubuğu rengi */
}
#sidebar:hover{
  overflow-y: auto;
}

#sidebar::-webkit-scrollbar {
  width: 6px; /* Kaydırma çubuğu genişliği */
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Kaydırma çubuğu başlığı rengi */
}

#sidebar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); /* Kaydırma çubuğu arka plan rengi */
}
.custom-button {
  background-color: rgb(27, 27, 27);
}

.custom-button:hover {
  background-color: rgb(51, 51, 51);
}
.btn-hover:hover {
  background-color: rgb(51, 51, 51) !important;
  
}


